@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #dfdede;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black
}

.btn-contact {
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px
}